*{margin: 0;
padding: 0;
}
body{
background: linear-gradient(#01012e,rgb(36,0,25));
height: 100vh;
font-family: system-ui;

}
section{
background: url('stars1.webp');
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}
ul{
    text-align: center;
}
ul:hover li a{
opacity: 0;
}
ul li{
    list-style: none;
    margin: 14px 0;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px ;
    font-weight: 500x;
    letter-spacing: 4px;
    background: darkblue;
    padding: 6px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-block;
    width: 130px;
    transition: .5s;
    position: relative;
    z-index: 10 ;
}   

ul li a:hover{
    opacity: 1;
    transform: scale(1.5);
    background: darkmagenta;

}
ul li::after{color: white;
    content: attr(data-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%); 
    font-size:80px ;
    font-weight: 900px;
    letter-spacing: 50px;
    text-transform: uppercase
    ;
    pointer-events: none;
    opacity: 0;
    transition: .5s;
}
ul li:hover:after{
    opacity: .5;
    letter-spacing: 5px;


}
ul li::before{
    content: '';
    height: 180px;
    width: 180px;
    background: rgb(255, 140, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,110%); 
    border-radius: 50%;
    box-shadow: 0 0 100px rgb(255, 174, 0);
    transition: .5s;
     opacity: 0;

}
ul li:hover:before{
 opacity: 1;
 width: 100px;

 height: 100px;

}


